<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jumun">
	<select id="readMenuCategory" parameterType="Integer" resultType="com.sp.jumun.Jumun">
		SELECT menuct_Num, menuct_Title, menuct_Info, g1_Num
		FROM menuCate
		WHERE g1_Num = #{g1_Num}
	</select>
	
	<select id="readMainMenu" parameterType="Integer" resultType="com.sp.jumun.Jumun">
		SELECT mainmenu_Num, mainmenu_Title, mainmenu_Content, mainmenu_Photo,
			mainmenu_Pay, mainmenu_Enabled, menuct_Num
		FROM mainmenu
		WHERE menuct_Num = #{menuct_Num}
	</select>
	
	<select id="readSubMenu" parameterType="Integer" resultType="com.sp.jumun.Jumun">
		SELECT submenu_Num, submenu_Title, submenu_Pay, submenu_Enabled, mainmenu_Num
		FROM submenu
		WHERE mainmenu_Num = #{mainmenu_Num}
	</select>
	
	<select id="mainJumunMenu" parameterType="String" resultType="com.sp.jumun.Jumun">
		SELECT mainmenu_Num, mainmenu_Title, mainmenu_Content, mainmenu_Photo,
			mainmenu_Pay, mainmenu_Enabled, menuct_Num
		FROM mainmenu
		WHERE mainmenu_Num = #{mainmenu_Num}
	</select>
	
	<select id="subJumunMenu" parameterType="String" resultType="com.sp.jumun.Jumun">
		SELECT submenu_Num, submenu_Title, submenu_Pay, submenu_Enabled, mainmenu_Num
		FROM submenu
		WHERE submenu_Num = #{submenu_Num}
	</select>
	
	<select id="listPayMethod" resultType="com.sp.jumun.Jumun">
		SELECT payMethod_Num, payMethod_Way, payMethod_Content
		FROM payMethod
	</select>
	
	<!-- member 결제내역 가져오기 쿼리 -->
	<select id="getMemberPayList" parameterType="Integer" resultType="com.sp.jumun.JumunMember">
		select distinct j.jumun_num, jumun_pay, jumun_created, jumun_addr, jumun_tel, jumun_memo, m1_num, j.orders_num, orders_state, p.pay_pay , g1_name from jumun j
			join maingoods mg on mg.jumun_num = j.jumun_num
			join mainmenu mm on mm.mainmenu_num = mg.mainmenu_num
			join menucate mc on mc.menuct_num = mm.menuct_num
			join giup1 g on mc.g1_num = g.g1_num
			join orders o on o.orders_num = j.orders_num
			left outer join pay p on j.jumun_num = p.jumun_num
			where m1_num=#{m1_num}
			order by jumun_num desc
	</select>
	
	<!-- member 주문상세 가져오기 쿼리 -->
	<select id="getMemberPayDetail" parameterType="map" resultType="com.sp.jumun.JumunMember">
		select distinct j.jumun_num, jumun_pay, jumun_created, jumun_addr, jumun_tel, jumun_memo, m1_num, orders_num,
		   mg.mainmenu_num,mg.maingoods_num, mm.MAINMENU_TITLE, mg.MAINGOODS_COUNT,  sg.submenu_num, sm.SUBMENU_TITLE,sg.SUBGOODS_NUM from jumun j
			left outer join maingoods mg on mg.jumun_num = j.jumun_num
			left outer join mainmenu mm on mg.MAINMENU_NUM = mm.MAINMENU_NUM
			left outer join subgoods sg on mg.maingoods_num = sg.MAINGOODS_NUM
			left outer join submenu sm on sg.SUBMENU_NUM = sm.SUBMENU_NUM
			where j.M1_NUM = #{m1_num} and j.jumun_num=#{jumun_num}
			order by jumun_num desc	
	</select>
	
	<!-- 기업 수정 -->
	<select id="listGiup" parameterType="map" resultType="com.sp.jumun.Jumun">
		SELECT tb.* FROM (
	 		SELECT g1.g1_Num, g1_Id, g1_Pwd, g1_Name, g1_Sleep, cat_Code,
	       	NVL(giupAd_Num, 0) giupAd_Num, g3_lati, g3_longti,
	       	DISTNACE_WGS84(#{cur_lng},#{cur_lat},g3_longti,g3_lati) distance
	       	FROM giup1 g1
	       	LEFT OUTER JOIN giupAd ga ON g1.g1_Num = ga.g1_Num
	       	LEFT OUTER JOIN giup3 g3 ON g1.g1_Num=g3.g3_Num
	       	WHERE cat_Code = #{category} AND g1_Sleep = 1
	       	ORDER BY giupAd_Num DESC
<![CDATA[
	    )tb WHERE distance < 5
]]>
	</select>
</mapper>