<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">


<!-- 멤버 시퀸스 -->
<select id="getMemberSeq" resultType="Integer">
	select m1_seq.nextval from dual
</select>

<!-- 회원가입 -->
<!-- 회원가입 하면서 마일리지 테이블에 마일리지 생성해줌 -->
<insert id="insertMember1" parameterType="com.sp.member.Member1">
	insert into member1(m1_num, m1_nickname, m1_email, m1_pwd)
		values(#{m1_num}, #{m1_nickname}, #{m1_email}, #{m1_pwd})
</insert>

<insert id="insertMember2" parameterType="com.sp.member.Member1">
	insert into member2(m1_num, m2_birth, m2_gender, m2_tel)
		values(#{m1_num}, #{m2_birth}, #{m2_gender}, #{m2_tel})
</insert>
<insert id="insertMemberMileage">
	insert into memberMileage(m1_num) values(#{m1_num})
</insert>


<!-- 아이디 찾기 -->
<select id="findId" parameterType="map" resultType="String">
	select m1_email from member1 m
		join member2 m2 on m.m1_num = m2.m1_num
		where m.m1_nickname=#{m1_nickname} and m2_tel = #{m2_tel}
</select>

<select id="findPass" parameterType="map" resultType="Integer">
	select nvl(count(*),0) from member1 m
join member2 m2 on m.m1_num = m.m1_num
where m.m1_email=#{m1_email} and m2.m2_tel=#{m2_tel}
</select>


<!-- lastlogin 수정 -->
<update id="newLogin" parameterType="String">
	update member1 set m1_lastlogin = sysdate where m1_email= #{m1_email} 
</update>

<!-- 로그인하기 -->
<select id="login" parameterType="com.sp.member.Member1" resultType="com.sp.member.Member1">
	select m1_email, m1_num, m1_pwd, m1_nickname from member1 where m1_email=#{m1_email} and m1_pwd = '${m1_pwd}'
</select>

<!-- 멤버 읽어오기 -->
<select id="getMember" parameterType="String" resultType="com.sp.member.Member1">
	select m1_email, m1.m1_num, m1_nickname, to_char(m2_birth, 'YYYY-MM-DD') m2_birth, m2_tel, m2_gender from member1 m1
		left outer join member2 m2 on m1.m1_num=m2.m1_num
		where m1_email = #{m1_email} 
</select>

<!-- 아이디 중복 체크 -->
<select id="checkEmail" parameterType="String" resultType="Integer">
		select nvl(count(*), 0) from member1 where m1_email=#{m1_email}
</select>

<!-- 비밀번호 일치 확인 -->
<select id="checkPwd" parameterType="com.sp.member.Member1" resultType="Integer">
	select nvl(count(*), 0) from member1 where m1_email=#{m1_email} and m1_pwd = #{m1_pwd}
</select>

<update id="updateMember1" parameterType="com.sp.member.Member1">
	update member1 set m1_nickname = #{m1_nickname} where m1_num = #{m1_num}
</update>


<update id="updateMember2" parameterType="com.sp.member.Member1">
	update member2 set m2_birth=#{m2_birth} , m2_gender = #{m2_gender}, m2_tel = #{m2_tel} where m1_num = #{m1_num}
</update>

<!-- 비밀번호 변경 -->
<update id="updatePwd" parameterType="com.sp.member.Member1">
	update member1 set m1_pwd = #{m1_pwd} where m1_email = #{m1_email}
</update>


<!-- 회원탈퇴 하기 -->
<update id="enabledMember" parameterType="com.sp.member.Member1">
	update member1 set m1_enabled = 1 where m1_email = #{m1_email}
</update>


<!--  회원 삭제 -->
<delete id="deleteMember1" parameterType="com.sp.member.Member1">
	delete member1 where m1_email=#{m1_email}
</delete>
<delete id="deleteMember2" parameterType="com.sp.member.Member1">
	delete member2 where m1_email=#{m1_email}
</delete>
<delete id="deleteMemberMileage" parameterType="com.sp.member.Member1">
	delete memberMileage where m1_email=#{m1_email}
</delete>


<!-- 찜한 가게 -->
<insert id="iLikegiup" parameterType="com.sp.member.LikeGiup">
	insert into likegiup values ( (
  select g1_num from giup1 where g1_id = #{g1_id}), (
  select m1_num from member1 where m1_email=#{m1_email}
) )
</insert>


<delete id="idontlikegiup" parameterType="com.sp.member.LikeGiup">
	delete likegiup
		where g1_num=( select g1_num from giup1 where g1_num = #{g1_num})
		 and 
		m1_num = ( select m1_num from member1 where m1_email= #{m1_email})
</delete>

<select id="listLikegiup" parameterType="map" resultType="com.sp.member.LikeGiup">
	
	select g1.g1_id g1_id, g1.g1_num g1_num, g1_name, g1_sleep, cat_name
	  from likegiup lg
	  left outer join giup1 g1 on lg.g1_num = g1.g1_num
	  left outer join category c on g1.CAT_CODE = c.CAT_CODE
	  where m1_num=(select m1_num from member1 where m1_email = #{m1_email} )
</select>




<!-- Admin 계정에서 쓰는 메소드 -->

<sql id="where-list">
	<if test="searchKey=='m1Nickname'">
		m1_nickname=#{searchValue}
	</if>
	<if test="searchKey=='m1State'">
		<if test="searchValue=='휴면'">
		m1_enabled = 1
		</if>
	</if>
</sql>


<!-- MemberList - Admin에서 보기 위함 -->
<select id="getAllListMember" resultType="com.sp.member.Member1" parameterType="map">
select * from (
	SELECT ROWNUM rnum, tb.* FROM (	
		select m1_nickname, m1_email, to_char(m1_created, 'YYYY-MM-DD') m1_created, to_char(m1_lastlogin,'YYYY-MM-DD') m1_lastlogin, m1_enabled, 
		CASE WHEN m1_enabled = 0 THEN '-'
		ELSE '휴면' END as m1_state
		from member1
		<where>
			<if test="searchValue!=null and searchValue!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	   	order by m1_num desc
   	 <![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
        ) WHERE rnum >= #{start}    
      ]]>
</select>

<select id="getAllMemberNum" parameterType="map" resultType="Integer">
	select nvl(count(*), 0) from member1
	<where>
		<if test="searchValue!=null and searchValue!='' ">
			<include refid="where-list"/>
		</if>
	</where>
</select>

<select id="getMemberAllDetal" parameterType="map" resultType="com.sp.member.Member1">
select * from member1 m1
	join member2 m2 on m1.m1_num = m2.m1_num
	where m1.m1_num=#{m1_num}
</select>

</mapper>