<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
  <insert id="isertNotice" parameterType="com.sp.notice.Notice">
    INSERT INTO notice(noti_Num, admin_Id, noti_Title, noti_Content, noti_Top) 
         VALUES(userNotice_seq.NEXTVAL, #{admin_Id},#{noti_Title}, #{noti_Content}, #{noti_Top})
  </insert>
</mapper>