<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
  <insert id="insertNotice" parameterType="com.sp.notice.Notice">
    INSERT INTO userNotice(noti_Num, admin_Id, noti_Title, noti_Content, noti_Top) 
         VALUES(userNotice_seq.NEXTVAL, #{admin_Id}, #{noti_Title}, #{noti_Content}, #{noti_Top})
  </insert>
  
  <sql id="where-list">
    <if test="searchKey=='m1_nickname'">
      m1_nickname=#{searchvalue}
    </if>
    <if test="searchKey=='noti_Title'">
      noti_Title LIKE '%' || #{searchValue} || '%'
    </if>
    <if test="searchKey=='noti_Content'">
      DBMS_LOB.INSTR( noti_Content, #{searchValue}) &gt; 0 
    </if>
    <if test="searchKey=='noti_Created' ">
	  TO_CHAR(noti_Created, 'YYYY-MM-DD') = #{searchValue}
	</if>
  </sql>
  
  <select id="listNoticeTop" resultType="com.sp.notice.Notice">
    SELECT noti_Num, noti_Top, n.admin_Id, noti_Title, noti_Count, 
           TO_CHAR(noti_Created, 'YYYY-MM-DD')noti_Created
    FROM userNotice n
    JOIN admin ad ON n.admin_Id=ad.admin_Id
    WHERE noti_Top=1
    ORDER BY noti_Num DESC       
  </select>
  
  <select id="dataCount" parameterType="map" resultType="Integer">
    SELECT NVL(COUNT(*), 0) FROM userNotice n
           JOIN admin ad ON n.admin_Id=ad.admin_Id
    <where>
           <if test="searchValue != null and searchValue!=''  ">
				<include refid="where-list"/>
			</if>
    </where>       
  </select>
  
  <select id="listNotice" parameterType="map" resultType="com.sp.notice.Notice">
    SELECT * FROM (
      SELECT ROWNUM rnum, tb.* FROM(
        SELECT noti_Num, noti_Top, n.admin_id, noti_Title, noti_Count, noti_Created
        FROM userNotice n
        JOIN admin ad ON n.admin_Id=ad.admin_Id
        <where>
          <if test="searchValue != null and searchValue != ''">
			 <include refid="where-list"/>
		  </if>
	    </where>
	    ORDER BY noti_Num DESC
<![CDATA[
	   ) tb WHERE ROWNUM <= #{end}
	  ) WHERE rnum >= #{start}
	]]>
  </select>
  
  
  <!-- 글보기 -->
  <select id="readNotice" resultType="com.sp.notice.Notice" parameterType="Integer">
    SELECT noti_Num, n.admin_Id, noti_Top, noti_Title, noti_Content, noti_Created, noti_Count
           FROM userNotice n JOIN admin ad ON n.admin_Id=ad.admin_Id
           WHERE noti_Num = #{noti_Num}
  </select>
  
  <!-- 조회수 증가 -->
  <select id="updateCount" parameterType="Integer">
    UPDATE userNotice SET noti_Count=noti_Count+1 WHERE noti_Num = #{noti_Num}
  </select>
  
  <!-- 이전글 -->
  <select id="preReadNotice" resultType="com.sp.notice.Notice" parameterType="map">
    SELECT tb.* FROM(
      SELECT noti_Num, noti_Title FROM userNotice n JOIN admin ad ON n.admin_Id=ad.admin_Id
        <where>
          <if test="searchValue != null and searchValue !='' ">
            <include refid="where-list"/>
          </if>
          <![CDATA[
            AND (noti_Num > #{noti_Num})
	      ]]>
        </where>
        ORDER BY noti_Num ASC
    ) tb WHERE ROWNUM=1
  </select>

  <!-- 다음글 -->
  <select id="nextReadNotice" resultType="com.sp.notice.Notice" parameterType="map">
     SELECT tb.* FROM(
      SELECT noti_Num, noti_Title FROM userNotice n JOIN admin ad ON n.admin_Id=ad.admin_Id
        <where>
          <if test="searchValue != null and searchValue !='' ">
            <include refid="where-list"/>
          </if>
          <![CDATA[
            AND (noti_Num < #{noti_Num})
	      ]]>
        </where>
        ORDER BY noti_Num DESC
    ) tb WHERE ROWNUM=1
  </select>
  
  <update id="updateNotice" parameterType="com.sp.notice.Notice">
    UPDATE userNotice SET noti_Title=#{noti_Title}, noti_Content=#{noti_Content}, noti_Top=#{noti_Top}
                          WHERE noti_Num=#{noti_Num}
  </update>
  
  <delete id="deleteNotice" parameterType="Integer">
    DELETE FROM userNotice WHERE noti_Num=#{noti_Num}
  </delete>

</mapper>