<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storereview">
<select id="reviewRepSeq" resultType="Integer">
		SELECT reviewreply_seq.NEXTVAl FROM dual
	</select>

<select id="reviewlistAll" resultType="com.sp.store.mystore.MyStoreReview" parameterType="map">
	SELECT * FROM (
	    SELECT ROWNUM rnum, tb.* FROM (
			SELECT g.rep_Num, rep_Created, rep_star, rep_content, m1_Nickname, g.g1_num, g1_Name
		    FROM giupreview g
			LEFT OUTER JOIN reviewphoto r ON g.rep_Num = r.rep_Num
		    LEFT OUTER JOIN member1 m ON  g.m1_NUm = m.m1_Num
		    LEFT OUTER JOIN giup1 gi ON g.g1_Num = gi.g1_Num
			WHERE g.g1_Num = #{g1_Num}
			ORDER BY rep_created DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
</select>
<select id="reviewReplylist" resultType="com.sp.store.mystore.MyStoreReview">
	SELECT rrep_Num, rrep_Content, rep_Num, g1_Num, rrep_Created
	FROM reviewreply
	WHERE rep_Num=#{rep_Num}
	ORDER BY rrep_Created ASC
</select>
<select id="reviewlistYet" resultType="com.sp.store.mystore.MyStoreReview" parameterType="map">
	SELECT * FROM (
  		SELECT ROWNUM rnum, tb.* FROM (
			SELECT g.rep_Num, rep_Created, rep_star, rep_content, m1_Nickname, g.g1_num, g1_Name
		    FROM giupreview g
			LEFT OUTER JOIN reviewphoto r ON g.rep_Num = r.rep_Num
		    LEFT OUTER JOIN member1 m ON  g.m1_NUm = m.m1_Num
		    LEFT OUTER JOIN giup1 gi ON g.g1_Num = gi.g1_Num
		    LEFT OUTER JOIN reviewreply rr ON g.rep_Num = rr.rep_Num
			where rrep_Num IS NULL AND g.g1_Num = #{g1_Num} 
			ORDER BY rep_created DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
</select>


<insert id="insertReply" parameterType="com.sp.store.mystore.MyStoreReview">
	INSERT INTO reviewreply(rrep_Num, rrep_Content, rep_Num, g1_Num)
				 VALUES(${rrep_Num}, #{rrep_Content}, #{rep_Num}, #{g1_Num})
</insert>

<delete id="deleteReply" parameterType="Integer">
	DELETE FROM reviewreply WHERE rrep_Num=#{rrep_Num}
</delete>

<update id="updateReply" parameterType="Integer">
	UPDATE reviewreply SET rep_Content = #{rep_Content} where rrep_Num = #{rrep_Num}
</update>

<select id="dataCount" resultType="Integer">
	SELECT NVL(COUNT(*),0) from giupreview g
	LEFT OUTER JOIN reviewphoto r ON g.rep_Num = r.rep_Num
	WHERE g.g1_Num = #{g1_Num}
</select>
<select id="dataCountYet" resultType="Integer">
	SELECT NVL(COUNT(*),0) from giupreview g
	LEFT OUTER JOIN reviewphoto r ON g.rep_Num = r.rep_Num
	LEFT OUTER JOIN reviewreply rr ON g.rep_Num = rr.rep_Num
	where g.g1_Num = #{g1_Num} AND rrep_Num IS NULL
</select>
</mapper>