<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userQna">
   <insert id="insertUserQna" parameterType="com.sp.userQna.UserQna">
     INSERT INTO userQna(uq_Num, m1_Num, uq_Title, uq_Content, uq_OriginalFilename, uq_SaveFilename)
                 VALUES(userQna_seq.NEXTVAL, #{m1_Num}, #{uq_Title}, #{uq_Content}, #{uq_OriginalFilename, jdbcType=VARCHAR}, #{uq_SaveFilename, jdbcType=VARCHAR} )
   </insert>
   
   
   
</mapper>